route:
  receiver: default-receiver
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 2h

receivers:
- name: default-receiver
  webhook_configs:
  - url: https://example.invalid/tpv
    send_resolved: true
