apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mimir-sync
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://gitlab.com/clarel.eu/api/gitops.git
    targetRevision: nonproduction
    path: nonproduction/alerting/apps/mimir-sync
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
