---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
      external_labels:
        cluster: 'minikube'
        environment: 'dev'
        alertmanager: 'alertmanager:9093'
    
    # AlertManager configuration
    alerting:
      alertmanagers:
        - static_configs:
            - targets:
                - alertmanager:9093
          scheme: http
          timeout: 10s
    
    # Load rules from configmap
    rule_files:
      - /etc/prometheus/rules/prometheus-rules.yml
    
    remote_write:
      - url: http://mimir:9009/api/prom/push
        queue_config:
          capacity: 10000
          max_shards: 200
          max_samples_per_send: 1000
    
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      
      - job_name: 'alertmanager'
        static_configs:
          - targets: ['alertmanager:9093']
      
      - job_name: 'mimir'
        static_configs:
          - targets: ['mimir:9009']
      
      - job_name: 'loki'
        static_configs:
          - targets: ['loki:3100']
      
      - job_name: 'tempo'
        static_configs:
          - targets: ['tempo:3200']
      
      - job_name: 'grafana'
        static_configs:
          - targets: ['grafana:3000']