apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - externalsecret.yaml
  - cronjob.yaml

configMapGenerator:
  - name: mimir-sync-tenant-tpv
    files:
      - alertmanager.yaml=../../tenants/tpv/alertmanager/config.yaml
      - rules.yaml=../../tenants/tpv/rules/example.rules.yaml

  - name: mimir-sync-tenant-gke
    files:
      - alertmanager.yaml=../../tenants/gke/alertmanager/config.yaml
      - rules.yaml=../../tenants/gke/rules/example.rules.yaml

generatorOptions:
  disableNameSuffixHash: true
